@font-face {
  font-family: "Overpass";
  src: url("../../assets/Overpass/Overpass-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../../assets/Syne/Syne-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}
