.section-arrow {
  --arrow-flip: 1;
  --arrow-hover-shift: 10px;
  --arrow-hover-scale: 1.06;
  --arrow-active-shift: 34px;
  --arrow-active-scale: 1.24;
  width: min(100%, var(--max-width));
  margin: -2px auto -14px;
  padding: 0 24px;
  height: 108px;
  display: flex;
  align-items: flex-start;
}

.section-arrow-link {
  display: inline-flex;
  text-decoration: none;
  line-height: 0;
}

.section-arrow-icon {
  position: relative;
  width: 112px;
  height: 112px;
  display: block;
  background: var(--ink);
  -webkit-mask: url("../../img/icons/arrow 3.svg") center / contain no-repeat;
  mask: url("../../img/icons/arrow 3.svg") center / contain no-repeat;
  transform: translateX(0) scale(1) scaleX(var(--arrow-flip));
  transform-origin: center;
  transition: transform 120ms ease;
}

.section-arrow-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  -webkit-mask: inherit;
  mask: inherit;
  transform: translateX(1.7px);
}

.section-arrow-right {
  justify-content: flex-end;
  --arrow-flip: -1;
  --arrow-hover-shift: -10px;
  --arrow-active-shift: -34px;
}

.about-arrow {
  padding-right: 74px;
}

.section-arrow-link:hover .section-arrow-icon,
.section-arrow-link:focus-visible .section-arrow-icon {
  transform: translateX(var(--arrow-hover-shift)) scale(var(--arrow-hover-scale))
    scaleX(var(--arrow-flip));
}

.section-arrow-link:active .section-arrow-icon {
  transform: translateX(calc(var(--arrow-hover-shift) * 1.25)) scale(1.03)
    scaleX(var(--arrow-flip));
}

.section-arrow.is-active .section-arrow-icon {
  transform: translateX(var(--arrow-active-shift)) scale(var(--arrow-active-scale))
    scaleX(var(--arrow-flip));
}

.section-arrow-link:focus-visible {
  outline: 2px solid rgba(0, 188, 143, 0.75);
  outline-offset: 3px;
}
